<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	mapper 영역 안에 구문 작성
	- namespace: mapper 간 충돌을 방지하기 위한 이름(필수)(유일)
 -->
<mapper namespace="student">
	<!--
		필요한 구문 작성
		- 가급적 하나의 테이블만 접근하도록 구성
	 	- CRUD에 맞는 태그 사용
	 		- C: insert
	 		- R: select
	 		- U: update
	 		- D: delete
	 	
	 	- id: 외부에서 구문을 호출하기 위한 식별자(namespace와 함께 사용)
	 	
	 -->
	 
	<insert id="add" parameterType="map">
		insert into student
		values(#{name}, #{score})
	</insert>
	
	<insert id="add2" parameterType="student">
		insert into student
		values(#{name}, #{score})
	</insert>
	 
</mapper>