<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu_image">

	<select id="seq" resultType="int">
		select menu_image_seq.nextval from dual
	</select>

	<select id="add" parameterType="menuImage">
		insert into menu_image
			 ( file_no,
			   file_name,
			   file_type,
			   file_size,
			   menu_no
			 )
		values
			 ( #{file_no},
			   #{file_name},
			   #{file_type},
			   #{file_size},
			   #{menu_no}
			 )
	</select>
	
	<select id="find" parameterType="int" resultType="menuImage">
		select * from menu_image
		 where file_no = #{file_no}
	</select>
	 
</mapper>













